html {
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}

#container {
	max-width: 800px;
	margin: 0 auto;
}
#container h1 {
    margin: 0 auto;
    width: 330px;
    height: 129px;
    background: url(/static/logo.png);
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 30px;
}
h2 {
    text-align: center;
}
.page-container{
    max-width: 600px;
    margin: 0 auto;
}
nav {
    width: 100%;
    background-color: rgb(173, 173, 173);
    color: white;
    padding: 3px;
    margin-bottom: 30px;
    border-radius: 5px;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: no-wrap;
    justify-content: center;
    -webkit-justify-content: center; 
    padding: 0 20px;
    margin: 5px 0;
}
nav ul li {
    margin: 0 20px;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 3px;
}
nav a:visited {
    color: white;
}
nav a:hover {
    color: white;
    border: solid 1px white;
    border-radius: 5px;
    margin:-1px; 
}
#container p {

}
.instruction {
    font-size: 16px;
}
.or {
    text-decoration: underline;
}
#form-sections-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center; 
}
#form-sections-container > div {
	width: 250px;
	text-align: center;
	
}
#form-sections-container > div:first-child {
	margin-right: 17px;
	border: 4px dashed #000000;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 5px;
}
#form-sections-container > div:first-child.hovered {
    box-shadow: 0 0 18px 6px #F7B533;
}
#form-sections-container > div > input,
#form-sections-container > div > p,
#form-sections-container > div > select {
	margin: 10px auto;
	
}
form > input {
    display: block;
    margin: 10px auto;
}
form textarea {
    width: 100%;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 5px;
}
form label {
    font-size: 12px;
}
form input[type="submit"] {
    padding: 13px;
    font-size: 18px;
    background-color: rgb(248, 154, 31);
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
}
form input[type="submit"].disabledButton {
    opacity: 0.5;
    cursor: no-drop;
}
form input[type="text"] {
    border: 1px solid rgb(228, 228, 228);
    padding: 5px;
    border-radius: 5px;
}
.valid:before {
    content: url('/static/check.png');
    margin-left: -25px;
    position: absolute;
}
.profile-name-container {
    margin: 20px 0;
}
.regex-container {

}
.regex-container label {
    text-align: left;
    display: block;
}
p.example{
    margin: 0;
    color: rgb(119, 119, 119);
    font-size: 10;
    text-align: left;
}
.profile-list {
    list-style: none;
    padding: 0;
    width: 313px;
    margin: 0 auto;
}
.profile-list li {
    margin-bottom: 20px;
}
.profile-list div {
    width: 145px;
    display: inline-block;
    vertical-align: top;
}
.profile-labels {
    width: 313px;
    margin: 0 auto;
    border-bottom: solid 2px rgb(228, 228, 228);
    margin-bottom: 20px;
    padding-bottom: 6px;
}
.profile-labels div{
    width: 145px;
    display: inline-block;
}
.delete-profile {
    cursor: pointer;
    padding: 0px 6px 1px;
    font-size: 18px;
    vertical-align: top;
    color: rgb(171, 29, 29);
}
.delete-profile:hover {
    border: 1px solid rgb(171, 29, 29);
    margin: -1px;
      border-radius: 12px;
  
}
.save-profiles {
    padding: 13px;
    font-size: 18px;
    background-color: rgb(248, 154, 31);
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    margin: 0 auto;
    display: block;
}
.save-profiles.disabledButton {
    opacity: 0.5;
    cursor: no-drop;
}