$var showPDFLink: True
<div class="page-container">
    <h2>About</h2>
    <p>
    MuniMiner started as a project at the 2015 Hacking iCorruption event sponsored by the Edmond J. Safra Center for Ethics at Harvard University and the MIT Civic Media Center. The aim is to simplify the parsing of similar data across multiple PDF documents while being extensible. With MuniMiner, you can easily add documents through a familiar web interface and the only technical component is providing a regular expression.
    </p>
    <p>
    MuniMiner is free and open source. Find out more information <a href="https://github.com/jeffkeeling/muniminer">here<a>.
    <p>
    <h3>Usage</h3>
    <ol>
        <li>Choose a PDF document to process through the file picker, dragging and dropping a document or through Dropbox.</li>
        <li>The instructions used to extract the desired data from a PDF document are made with regular expressions and are referred to as "profiles" on this site. You can create your own profile that will be stored in your browser. Give your custom regular expression a name and it will be an option in the profile dropdown on your next upload</li>
        <li>After uploading, you will have the option to get the pdf back in plain text document for testing your regular expressions locally. You will also get a .csv file and the parsed text in the browser to easily copy and paste.</li>
    </ol>
</div>


