$def with (regs)


<div id="form-container">
    <form method="POST"  enctype="multipart/form-data" action="">
    	<div id="form-sections-container">
            <div id="pdf-container">
                <div id="pdf-error" class='error'></div>
                <p id="pdf-instruction" class="instruction">1. Select a PDF to process</p>
                <input type="file" id="pdf-input" name="pdfFile" accept="application/pdf"  />
                <p class="or">Or</p>
                <p>Drag and Drop your PDF here</p>
                <!-- <p class="or">Or</p>
                <div class="dropbox-container"></div> -->
            </div>
            <div id="profile-container">
                <div id="profile-error" class='error'></div>
                <p id="profile-instruction" class="instruction">2. Select a profile <br /> to parse your PDF</p>
                <select id="profile-dropdown">
                	<option value="default">Select a Profile</option>
                    $for key in regs:
                        <option data-custom="false" value="$key">$key</option>

                </select>
                <p class="or">Or</p>
                <p>Make your own</p>
                <div id="profile-name-container">
                    <label for="custom-profile-name">New Profile Name</label>
                    <input type="text" name="customProfile" id="custom-profile-name"/>
                    
                </div>
                <div id="regex-container">
                    <label for="#custom-profile-regex">New Regular Expression</label>
                    <p class="example">example: ^[a-zA-Z]+{0,9}\$</p> 
                    <textarea id="custom-profile-regex" rows="5" cols="10"></textarea>
                </div>
            </div>
    	</div>
        
        <input id="submit-form" type="submit" value="upload"  disabled class="disabled-button submit-button" />

        <div id="base-container">
            <option data-custom='true'></option>
        </div>
    </form>
</div>