<html>
	<head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="/static/js.js"></script>
    </head>
	<body>
		<div id="container">
	        <h1>MuniMiner</h1>
            <form class="pdf-form" method="POST"  enctype="multipart/form-data" action="">
            	<div id="form-sections-container">
                    <div id="pdf-container">
                        <p>Select a PDF to process</p>
                        <input type="file" name="pdfFile" />
                    </div>
                    <div id="profile-container">
                        <p>Select a profile to parse your PDF</p>
                        <select>
                        	<option>Select a Profile</option>
                            <option>Profile 1</option>
                            <option>Profile 2</option>
                            <option>Profile 3</option>
                            <option>Profile 4</option>
                        </select>
                        <p>Or provide your own</p>
                        <input type="text" name="profileName" />
                        <textarea></textarea>
                    </div>
				</div>
                
                <input type="submit" value="upload" />
            </form>
		</div>
	</body>
</html>
